
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header card-header-primary">
              <h4 class="card-title">Generate Monthly Salary Registry</h4>
              <p class="card-category">Salary Registry</p>
          </div>
          <div class="card-body">
              <div class="table-responsive"> 
                  <table class="table">
                      <thead class=" text-primary">
                          <th>Employee_id</th>
                          <th>Start_date</th>
                          <th>Basic_pay</th>
                          <th>Hra</th>
                          <th>travel_allowance</th>
                          <th>food_allowance</th>
                          <th>special_allowance</th>
                          <th>car_allowance</th>
                          <th>petrol_allowance</th>
                          <th>driver_allowance</th>
                          <th>medical_allowance</th>
                          <th>internet_allowance</th>
                          <th>paper_allowance</th>
                          <th>Total</th>

                      </thead>
                      <tbody>
                          <tr>  
                            <td></td>
                          </tr>                              
                          <tr>
                              <td colspan="6" class="text-center">.</td>
                          </tr>       
                      </tbody>
                  </table>
                  {% comment %} <div class="button" style="float:left" >
                      <button type="update"  class="btn btn-primary pull-right">Generate</button>
                  </div> {% endcomment %}
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}   
