

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="">
                   Parity infotech Solution pvt ltd.
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="https://bit.ly/3fKQZaL"></a> 
                      -  <a target="_blank" rel="noopener noreferrer" href=""></a>
          </div>
        </div>
    </footer>
